@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto Mono', monospace;
    min-height: 100vh;
    background: url("bg-image.jpg") no-repeat fixed top / cover;
}

h1 {
    font-size: 2.3rem;
    text-align: center;
    margin: 50px 0;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
}

h2 {
    font-size: 1.4rem;
    text-align: center;
    margin: 40px 20px;
}

.grid {
   text-align: center;
   min-height: 70vh;
}

.app {
    
    max-width: 40%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.8);
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

#city-input {
    padding: 10px;
    width: 70%;
    border-radius: 4px;
    border: 1px solid #ddd;
}

#city-input:focus-visible {
    box-shadow: 0 0px 5px #1d7c03;
}

#search-button {
    display: inline-block;
    background-color: #1d7c03;
    color: white;
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

#search-button:hover {
    background-color: #2eaa0b;
}

.weather-info {
    margin-top: 20px;
    padding: 30px;
    background-color: #241162;
    color: #fff;
    border-radius: 4px;
    text-align: left;
}
.error {
    margin-top: 20px;
    padding: 20px;
    background-color: #ffc2c2;
    border-radius: 4px;
    color: red;
    text-align: center;
    font-weight: bold;
}

#weather-info h2 {
    margin: 0;
    color: #929fe3;
    padding-bottom: 10px;
    border-bottom: 1px solid #929fe3;
    text-align: center;
    font-size: 1.5rem;
}

#weather-info p {
    margin: 10px 0;
    font-size: 0.95rem;
}

.weathericon {
    margin: 0px;
    padding: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.weathericon h3 {
    font-size: 2.5rem;
}

.sunrise {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    padding: 5px 10px;
}

.weather-info-main {
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
}
.weather-info-main p {
    font-size: 1.4rem;
}

.weather-description {
    text-align: center;
    padding-bottom: 20px;
    color: #c4ccf3;
}


/* Footer */

#footer {
    padding: 30px 35px 20px;
    background-color: #fff;
    width: calc(100% - 70px);
}

.footer-icons {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-icons li {
    list-style-type: none;
    flex-basis: 40px;
}

.footer-icons .fa-brands {
    margin: 0 2px;
}

.copy {
    font-size: 0.8em;
    font-weight: bold;
    flex-grow: 1;
    text-align: right;
}

@media only screen and (max-width: 576px) {
    
    h2 {
        font-size: 1.4rem;
        text-align: center;
        margin: 20px 20px;
    }

    .grid {
        display: block;
    }

    .app {
        max-width: 100%;
        padding: 20px 30px;
    }
    #city-input {
        width: calc(100% - 20px);
    }

    #search-button {
        margin: 20px 0 0 0;
    }
    .sunrise, .weather-info-main {
        display: block;
        text-align: left;
    }
    .sunrise .full {
        width: 100%;
        text-align: center;
    }
    .weather-info-main .full {
        width: 100%;
        text-align: left;
    }
}